.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1) !important;
}

.erro-cep{
    display: none;
}

.erro_request{
    display: none;
}

.request {
    display: none;
}

.required-span {
    color: red;
}